$xs-max-width: 599.98px;

$sm-min-width: 600px;
$sm-max-width: 667.98px;

$md-min-width: 668px;
$md-max-width: 1023.98px;

$xl-min-width: 1024px;

@mixin device($br) {
  @if $br ==xs {
    @media only screen and (max-width: $xs-max-width) {
      @content;
    }
  }

  @if $br ==sm {
    @media only screen and (min-width: $sm-min-width) and (max-width: $sm-max-width) {
      @content;
    }
  }

  @if $br ==md {
    @media only screen and (min-width: $md-min-width) and (max-width: $md-max-width) {
      @content;
    }
  }

  @if $br ==xl {
    @media only screen and (min-width: $xl-min-width) {
      @content;
    }
  }
}